body,
html,
:root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.greeting {
  overflow: hidden;
  position: absolute;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}

.greeting h1 {
  font-size: 7rem;
  font-family: "Secular One", cursive;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info p {
  display: block;
  margin: 8em 10em 2em;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 2em;
  border-radius: 3em;
}
